@import "../../assets/styles/theme.scss";

.admin {
  height: 100vh;
  background: $background-color;
  box-sizing: border-box;

  .side-menu {
    background: $light-color;
    width: 20%;
    height: 95vh;
    border-radius: $md;
    box-sizing: border-box;

    .side-menu-items {
      .side-menu-item {
        box-sizing: border-box;

        &.active {
          border-radius: $md;
          font-weight: bold;
          position: relative;
          color: $primary-color;

          &::after {
            content: ' || ';
            position: absolute;
            top: 0;
            background: $light-color;
            width: $md;
            right: 0;
          }
        }

      }
    }
  }

  .content {
    flex: 1;
    height: 95vh;
    box-sizing: border-box;

    .nav {
      background: $light-color;
      border-radius: $md;
      height: 7vh;
      box-sizing: border-box;

      .user {
        .user-logo {
          width: 35px;
          height: 35px;
          margin-right: $md;
          border-radius: 50%;
          box-sizing: border-box;

          img {
            background: black;
            border-radius: 50%;
          }
        }

        &:hover .user-name {
          color: $primary-color;
        }
      }
      .user-action{
        padding: $md;
        box-sizing: border-box;
        width: 100%;
        .ua-card{
          width:30% ;
          background: $primary-color;
          margin-right: 5%;
          &:active {
            transform: translateY(1px);
          }
          &:hover {
            filter: brightness(0.8);
          }
          &:nth-child(3n){
            margin-right: 0;
          }
          .ua-image{
            width: 60px;
            height: 60px;
            img{
              padding: $md;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
    .project-titles {
      .project-listing-type {
        background: $primary-color;
        border-radius: $sm;
        padding: $xs;
        box-sizing: border-box;

        .activeButton {
          background: $button-color;
          padding: $xs;
          border-radius: $xs;
        }
      }
    }
    .content-body {
      flex: 1;
      border-radius: $md;
      background: $background-color;
      box-sizing: border-box;

      .admin-dashboard {
        display: grid;
        grid-template-columns: 1.5fr 2fr 3fr;
        grid-gap: $md;
        grid-auto-rows: (50px, auto);

        .communication-channel {
          height: 200px;

          .communication {
            .communication-logo {
              width: 40px;

              img {
                padding: 10px;
                background: $button-color;
                border-radius: $md;
              }
            }
          }
        }

        .dashboard-tasks {
          border-radius: $sm;
          padding: $md;
          background: $light-color;
          box-sizing: border-box;

          .task-items {
            max-height: 40vh;
            padding-right: 15px;
            overflow-y: hidden;
            overflow-x: hidden;
          }
        }

        .dashboard-account {
          .db-bank {
            .db-bank-logo {
              width: 50px;

              img {
                padding: 10px;
                background: $button-color;
                border-radius: $md;
              }
            }
          }
        }

        .dashboard-projects {
          .tech-stack {
            .tech-stack-item {
              margin-right: 5%;
            }
          }
        }
      }


      .projects {
        .project-board {
          height: 77vh;
          overflow-y: scroll;
        }
        .dragdrop-card {
          box-sizing: border-box;
          position: relative;
          min-height: 20vh;
          max-height: 28vh;
          .project-description{
            height: 5vh;
            overflow: hidden;
            font-size: 10px;
          }
          .dragdrop-footer{
            position: absolute;
            left: 0;
            bottom: $md;
            width: 100%;
            box-sizing: border-box;
            .project-point{
              width: 50px;
              border-radius: $md;
              padding: $xs;
              text-align: center;
              background: $btn-hover;
              box-sizing: border-box;
            }
          }
        }
        .add-project{
          width: 30vw;
          box-sizing: border-box;
        }
      }
    }
  }
}
